<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler d-md-down-none" type="button" appSidebarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul class="nav navbar-nav ml-auto">
    <a class="btn" [routerLink]="['/dashboard']"><i class="fa fa-home"></i> &nbsp;Home</a>
      <a class="btn" [routerLink]="['/widgets']"><i class="fa fa-file"></i> &nbsp;Services</a>
      <a class="btn" [routerLink]="['/charts']"><i class="fa fa-address-card"></i> &nbsp;Contacts</a>
     

    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"/>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">   
       
        <div class="dropdown-header text-center"><strong>Settings</strong></div>
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
        
        <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>
       
        <div class="divider"></div>
        <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Log Out</a>        
      </div>
    </li>
    <button class="navbar-toggler d-md-down-none" type="button" appAsideMenuToggler>
      <span class="navbar-toggler-icon"></span>
    </button>
  </ul>
</header>
